header { 
  margin: 1% 2%;
}

a {
  font-family: arial,sans-serif;
}

.a_right {
  float: right;
}

.icon_header {
  font-size: 18px;
  color: black;
  opacity: 0.85;
  margin: 0% 1% 0% 0.5%;
  padding: 0.4%;
}

.icon_header:hover {
  color:black;
  opacity: 1;
}

.a_header {
  color: black;
  font-size: 13px;
  margin: 0% 0.5%;
  padding-top: 0.5%;
}

.a_header:hover {
  color: black;
}

.cnx_header {
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #4285f4;
  border-radius: 2px;
  cursor: default;
  text-decoration: none;
  background-color: #4285f4;
  color: white;
  padding: 6px 12px;
}

.cnx_header:hover {
  text-decoration: none;
  background-color: #4285f4;
  color: white;
  box-shadow: 0px 1px 0px 0px #4285f4;
}

.div_cent {
  margin-top: 10%;
}

#rech {
  width: 40%;
  height: 45px;
  margin: 2% 0%;
  border: 1px solid #eaeaea;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24);
  text-indent: 10px;
  font-size: 15px;
}

#rech:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.32);
}

.btn_rech {
  background-color: #f2f2f2;
  color: #757575;
  cursor: default;
  font-size: 13px;
  font-weight: bold;
  padding: 0.6% 0.7%;
  margin: 0% 0.2%;
}

.btn_rech:hover {
  border: 1px solid #cbcbcb;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #f2f2f2;
}

.footer {
  font-size: 15px;
  color: #666;
}

footer a {
  color: #666;
  font-size: small;
  padding: 0.6% 0% 0.6% 1.8%;
  display: inline-block;
}

footer a:hover {
  color: #666;
}

footer p {
  margin: 0.6% 0% 0.6% 1.8%;
}

.right {
  float: right;
}
